{
  "presets": [
    ["@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2,
        "targets": {
          "node": 10 // solved async/await problem
        }
      }
    ]
  ]
}
